/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
 #region-menu a:active {
 	color: blue;
 }
 
 #zone-menu-wrapper ul.menu {
   text-align: right;
   display: block;
 }
 
 #zone-menu-wrapper li {
   text-align: right;
 }
 
 #zone-menu-wrapper a {
 	text-decoration: none;
   	text-align: right;
   }
 #region-menu {
 	background-color: #fff;
 	height: 2.2em;
 	line-height: 1.5em;
 	padding: 0.5em 0.8em;
 	text-decoration: none;
 	}
 
 /* Begin Podcast Views CSS for standard screens */
 
 
 .view-podcasts table {
 margin:0;
 	}
 	
 .view-podcasts td {
 	vertical-align: top;
 }
 	
 .view-podcasts tr { 
 background: #fafafa; 
 border-bottom:1px solid #eeeeee;
 	}
 	
 .view-podcasts tr td { 
 border:none; 
 border-right:1px solid #eeeeee; 
 padding:20px 20px 20px 20px; 
 width:33%;
 	}
 	
 .view-podcasts tr.row-first td { 
 padding-top:5px;
 	}
 	
 .view-podcasts tr td.col-first { 
 padding-left:10px;
 	}
 	
 .view-podcasts tr td.col-last { 
 padding-right:10px; 
 border-right:0;
 	}
 
 